<app-incidencia-filter></app-incidencia-filter>
<div class="container" [hidden]="!mostrarId" >
    <div class="row">
      <div class="col-md-8 text-center">
        <table class="table table-striped">
        <thead>
          <tr>
            <tr>
              <th class="header-text">Fecha</th>
              <th class="header-text">Producto</th>
              <th class="header-text">Orden ID</th>
            </tr>
          </thead>
          <tbody >
            @for(stock of incidenciasStock; track stock){
            <tr data-bs-toggle="modal" data-bs-target="#ordenTodasShow" (click)="seleccionarTodasIncidencias(incidenciasStock)">
              <td>{{ stock.estado }}</td>
              <td>{{ stock.descripcion}}
              <td>{{ stock.fecha }}</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>


