

  <!-- Incidencias Menu -->
  <!-- <div id="menuD" [hidden]="!isIncidenciaMenuVisible">
    <div>
      <button class="close-btn" (click)="closeIncidenciaMenu()">X</button>
      <h1 >Incidencias</h1>
      <h3 [routerLink]="['incidencias/tipo-personal']" style="cursor: pointer;">Personal</h3>
      <h3 [routerLink]="['incidencias/tipo-maquina']" style="cursor: pointer;">Máquina</h3>
      <h3 [routerLink]="['incidencias/tipo-stock']" style="cursor: pointer;">Stock</h3>
    </div>
  </div> -->

<!-- ordenes -->
  <!-- <div id="menuD" [hidden]="!isOrdenMenuVisible">
    <div>
      <button class="close-btn" (click)="closeOrdenMenu()">X</button>
      <h1>Ordenes</h1>
      <h3 class="desMenu1" [routerLink]="['orden/orden-curso']" style="cursor: pointer;">En curso</h3>
      <h3 class="desMenu1" [routerLink]="['orden/orden-pendientes']" style="cursor: pointer;">Pendientes</h3>
      <h3 class="desMenu1" [routerLink]="['orden/orden-pausadas']" style="cursor: pointer;">Pausadas</h3>
      <h3 class="desMenu1" [routerLink]="['orden/orden-terminadas']" style="cursor: pointer;">Terminadas</h3>
    </div>
  </div> -->

  <!-- menu con modal -->
  <!-- <div class="modal-overlay" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <button class="close-btn" (click)="closeCuentaMenu()">X</button>
        <h1>Menú</h1>
        <h3 class="desMenu1" [routerLink]="['cuenta']" style="cursor: pointer;">Cuenta</h3>
        <h3 class="desMenu1" [routerLink]="['mensajes']" style="cursor: pointer;">Mensajes</h3>
        <h3 class="desMenu1" [routerLink]="['tratamientos']" style="cursor: pointer;">Tratamientos</h3>
        <h3 class="desMenu1" [routerLink]="['almacen']" style="cursor: pointer;">Almacén</h3>
        <h3 class="desMenu1" [routerLink]="['salir']" style="cursor: pointer;">Salir</h3>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>

    </div>


  </div> -->

   <!--  Menu -->
    <div id="menuD" [hidden]="!isCuentaMenuVisible">
      <div>
        <button class="close-btn" (click)="closeCuentaMenu()">X</button>
        <h1>Menú</h1>
        <div class="desMenu1" [routerLink]="['cuenta']" style="cursor: pointer;"><img  style="font-weight: bold;" src="/Cuenta.svg" alt="salir" /> Cuenta</div>
        <div class="desMenu1" [routerLink]="['mensajes']" style="cursor: pointer;"><img  style="font-weight: bold;" src="/Mensage.svg" alt="salir" />Mensajes</div>
        <div class="desMenu1" [routerLink]="['tratamientos']" style="cursor: pointer;"><img  style="font-weight: bold;" src="/tratamientosubmenu.svg" alt="salir" />Tratamientos</div>
        <div class="desMenu1" [routerLink]="['almacen']" style="cursor: pointer;"><img  style="font-weight: bold;" src="/warehouse-svgrepo-com.svg" alt="salir" />Almacén</div>
        <div class="desMenu1" [routerLink]="['/login']" style="cursor: pointer; font-weight: bold;" ><img src="/salir.svg" alt="salir" />Salir</div>
      </div>
    </div>


  <!-- Footer Fijo -->
  <div id="fixed-footer" class="d-flex justify-content-between">

    <!-- Botón Home -->
    <div class="home">
      <div class="btn" routerLink="dashboard">
        <img src="/Home.svg" alt="home" />
      </div>
    </div>

    <!-- Botón Calendario -->
    <div class="calendar">
      <div class="btn" routerLink="calendario">
        <img src="/Calendar.svg" alt="calendar" />
      </div>
    </div>

    <!-- Botón Incidencias -->
    <div class="incidencia">
      <!-- <div class="btn" (click)="IncidenciaMenu()"> -->
        <div class="btn"  [routerLink]="['incidencias/tipos/tipo-maquina']">
        <img src="/Incidencia.svg" alt="incidencia" />
      </div>
    </div>

    <!-- Botón Orden -->
    <div class="orden">
      <!-- <div class="btn" (click)="OrdenMenu()"> -->
        <div class="btn"  [routerLink]="['orden/orden-curso']">
        <img src="/tareas.svg" alt="ordenes" />
      </div>
    </div>

    <!-- Botón Menú -->
    <div class="menu">
      <div class="btn" (click)="Menu()">
        <img src="/menu.svg" alt="menu" />
      </div>
    </div>



