/* Estilo del footer fijo */
#fixed-footer {
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0 !important;
  height: 7%;
  z-index: 10;
  background-color: #004d40;
  padding:15px;
}


#menuD{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  background-color: rgb(139, 70, 70);
  color: white;
  font-weight: bold;
  padding: 15px;

}




/* Estilos para el contenedor */
.incidencia-content {
  position: relative;
  padding: 20px;
}

/* Botón de cerrar "X" */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

/* Título "Incidencias" */
h1 {
  color: #064420;
  font-weight: bold;
  text-align: center;
  margin: 0;
  display: inline-block;
}

/* Subtítulos "Personal", "Máquina", "Stock" */
h3 {
  color: #064420;
  font-weight: 600;
  margin: 10px 0;
}

/* Alinear "Incidencias" y "X" en la misma línea */
.incidencia-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desMenu1 img {
  height: 20px;
  width: 20px;
  margin: 10px;
}




