<app-incidencia-filter></app-incidencia-filter>
<div class="container" [hidden]="!mostrarId" >
    <div class="row">
      <div class="col-md-12 text-center">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Aplicador</th>
            <th>Descripción</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody >
          @for(personal of incidenciasPersonal; track personal.id){
          <tr data-bs-toggle="modal" data-bs-target="#ordenTodasShow" (click)="seleccionarTodasIncidencias(incidenciasPersonal)">
            <td>{{ personal.estado }}</td>
            <td>{{ personal.descripcion}}
            <td>{{ personal.fecha }}</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>


  <div class="modal fade" id="incidenciaPersonaShow" tabindex="-1" aria-labelledby="incidenciaPersonaShow" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="incidenciaPersonaShow">Incidencia Personal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row justify-content-center">

            <div class="col-12 mb-3">
              <div class="card shadow" style="cursor: pointer;">
                <div class="card-body parcelas">
                  <div class="card-title d-flex">
                    <img src="/Parcela-Icon1.svg" alt="Parcela Icon" class="img-fluid me-2" />
                  <h2 class="fw-semibold"> Parcela:  {{ordenSeleccionada?.parcela.nombre}}</h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-body">
              <div class="col-12 mb-3">
                <div class="card shadow" style="cursor: pointer;">
                  <div class="card-body tareas">
                    <div class="card-title d-flex">
                      <img src="/Tarea-Icon.svg" alt="Parcela Icon" class="img-fluid me-2" />
                    <h2 class="fw-semibold"> Tarea:  {{ordenSeleccionada?.tarea}}</h2>
                    </div>
                  </div>
                </div>
              </div>

            <div class="col-12 mb-3">
              <div class="card shadow" style="cursor: pointer;">
                <div class="card-body aplicadores">
                  <div class="card-title d-flex">
                    <img src="/Persona-Icon.svg" alt="Persona Icon" class="img-fluid me-2" />
                    <h2 class="fw-semibold">Aplicador: {{ordenSeleccionada?.aplicadores.nombre}} </h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="card shadow" style="cursor: pointer;">
                <div class="card-body maquinas">
                  <div class="card-title d-flex">
                    <img src="/Maquina-Icon.svg" alt="Persona Icon" class="img-fluid me-2" />
                    <h2 class="fw-semibold">Máquina</h2>
                    <p>{{ordenSeleccionada?.id_maquina}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="card shadow" style="cursor: pointer;">
                <div class="card-body tratamientos">
                  <div class="card-title d-flex">
                    <h2 class="fw-semibold">Asunto {{incidenciaSeleccionada?.descripcion}}</h2>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="card shadow" style="cursor: pointer;">
                <div class="card-body Fecha">
                  <div class="card-title d-flex">
                    <h2 class="fw-semibold">Fecha: {{ordenSeleccionada?.fecha_inicio}}</h2>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Resolver</button>
      </div>

      </div>
    </div>
  </div>
</div>
