  <!-- Contenedor Principal -->
   <br>
  <div class="py-5 mb-5 overflow-auto">
    <!-- Tarjeta Principal -->
    <div class="card mx-auto main-card">
      <!-- Fecha -->
      <p class="text-center text-success mb-2 date">{{fecha}}</p>

      <!-- Título -->
      <h2 class="text-center text-brown mb-3 title">Tareas</h2>

      <!-- Gráfico -->
      <div class="text-center mb-3" >
        <div class="circle">
          <span class="center-text" style="font-size: 16px !important;" >50</span>
        </div>
        <p class="total-tasks mb-5" style="font-size: 16px !important;">Total tareas</p>
      </div>

      <!-- Leyenda -->
      <div class="legend">
        <div class="d-flex justify-content-start align-items-center me-5">
          <span class="dot dot-blue"></span>
          <span>En curso</span>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <span class="dot dot-green"></span>
          <span>Pendientes</span>
        </div>
        <div class="d-flex justify-content-start align-items-center me-5">
          <span class="dot dot-red"></span>
          <span>Terminadas</span>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <span class="dot dot-orange"></span>
          <span>Pausadas</span>
        </div>
      </div>
    </div>

    <div class="row overflow-auto">
      <div class="col-md-12">
        <h1>Órdenes en curso</h1>
        <div class="row">
          <div class="col-md-4" *ngFor="let ordenCurso of ordenesCurso">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <div class="container d-flex align-items-center gap-3">
                  <img src="/Parcela-Icon.svg" class="parcela-img" alt="Img Parcela">
                  <h5 class="card-title">{{ ordenCurso.parcela.nombre }}</h5>
                </div>
                <p class="card-text">Tarea: {{ ordenCurso.tarea }}</p>
                <p class="card-text">Fecha de inicio: {{ ordenCurso.fecha_inicio }}</p>
                <p class="card-text">Aplicador:{{ ordenesCurso.aplicador_id }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

