<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <ul class="navbar-nav ">
      <li class="nav-item ">
          <button class="btn btn-outline-success" (click)="navegateEnCurso('/j_campo/orden/orden-curso')">Encurso</button>
      </li>
      <li class="nav-item ">
        <button class="btn btn-outline-success" (click)="navegatePendientes('/j_campo/orden/orden-pendientes')">Pendientes</button>
      </li>
      <li class="nav-item ">
         <button class="btn btn-outline-success " (click)="navegatePausadas('/j_campo/orden/orden-pausadas')">Pausadas</button>
      </li>
      <li class="nav-item ">
         <button class="btn btn-outline-success"  (click)="navegateTerminadas('/j_campo/orden/orden-terminadas')">Terminadas</button>
      </li>
    </ul>
  </div>
</nav>
