<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <button class="btn fw-semibold"
           [ngStyle]="{'background-color': isActive('/j_campo/orden/orden-curso') ? 'rgba(0, 66, 21, 0.08)' : '#ffffff'}"
           (click)="navegateEnCurso('/j_campo/orden/orden-curso')">
            En curso
        </button>
     </li>
      <li class="nav-item ">
        <button class="btn fw-semibold"
           [ngStyle]="{'background-color': isActivePe('/j_campo/orden/orden-pendientes') ? 'rgba(0, 66, 21, 0.08)' : '#ffffff'}"
           (click)="navegatePendientes('/j_campo/orden/orden-pendientes')">
            Pendientes
        </button>
      </li>
      <li class="nav-item ">
        <button class="btn fw-semibold"
        [ngStyle]="{'background-color': isActivePa('/j_campo/orden/orden-pausadas') ? 'rgba(0, 66, 21, 0.08)' : '#ffffff'}"
        (click)="navegatePausadas('/j_campo/orden/orden-pausadas')">
         Pausada
     </button>
      </li>
      <li class="nav-item ">
        <button class="btn fw-semibold"
        [ngStyle]="{'background-color': isActiveTe('/j_campo/orden/orden-terminadas') ? 'rgba(0, 66, 21, 0.08)' : '#ffffff'}"
        (click)="navegateTerminadas('/j_campo/orden/orden-terminadas')">
         Terminada
     </button>
      </li>
    </ul>
  </div>
</nav>
