<app-incidencia-filter></app-incidencia-filter>
<div class="container" [hidden]="!mostrarId" >
    <div class="row">
      <div class="col-md-8 text-center">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody >
          @for(incidencias of incidenciasMaquina; track incidencias.id){
          <tr data-bs-toggle="modal" data-bs-target="#ordenTodasShow" (click)="seleccionarTodasIncidencias(incidenciasMaquina)">
            <td>{{ incidencias.estado }}</td>
            <td>{{ incidencias.descripcion}}
            <td>{{ incidencias.fecha }}</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
